<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>

    <!--
      Container for metadata (is not displayed)
      Title, Style(CSS), Link, Script, Meta, etc.
      -->

</head>

<body>

    Welcome to Java Developer Course!!!

    <h1>Spring Boot</h1>
    <h2>Spring Boot</h2>
    <h3>Spring Boot</h3>
    <h4>Spring Boot</h4>

    <h1 align="center" style="color:blue">Spring Framework</h1>

    <img src="src/resources/images/star_wars.jpg" alt="Star Wars">

    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>

    <a href="https://www.google.com">Google</a>

    <table>
        <tr>
            <td>Loop</td>
            <td>Collection</td>
            <td>Stream</td>
        </tr>
        <tr>
            <td>IoC</td>
            <td>DI</td>
        </tr>
    </table>

    <!--  Forms  -->
    <label>User Name:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password"><br>
    <label>Comment Section:</label>
    <textarea name="comments"></textarea><br>

    <label>Please select your fav subject:</label><br>
    <input type="radio" name="Spring" value="IoC" checked="checked">Ioc</input>
    <input type="radio" name="Spring" value="DI">DI</input>
    <input type="radio" name="Spring" value="MVC">MVC</input>

    <br><label>Please Select your company:</label><br>
    <input type="checkbox" name="company" value="Bank Of America">Bank Of America
    <input type="checkbox" name="company" value="Southwest Airlines">Southwest Airlines
    <input type="checkbox" name="company" value="LTD">LTD

    <br><label>Select your car:</label>
    <select name="cars">
        <option value="honda">Honda</option>
        <option value="mercedes">Mercedes</option>
        <option value="toyota">Toyota</option>
    </select>


</body>

</html>