<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div align="center">

        <h2>Employee List</h2>

        <table>
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Birthday</td>
                    <td>Address</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zip Code</td>
                </tr>
            </thead>

            <tbody>
                <tr th:each="e : ${employeeList}">
                    <td th:text="${e.firstName}"></td>
                    <td th:text="${e.lastName}"></td>
                    <td th:text="${age}"></td>
                    <td th:text="${e.address} + ' ' + ${e.address2}"></td>
                    <td th:text="${e.city}"></td>
                    <td th:text="${e.state}"></td>
                    <td th:text="${e.zipCode}"></td>
                </tr>
            </tbody>

        </table>

    </div>

</body>
</html>