<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

    <div align="center">

        <form action="/employee/list" method="post" th:object="${employee}">

            <h2>Welcome to Employee Registration</h2>

            <label>First Name: </label>
            <input type="text" th:field="*{firstName}">
            <br>

            <label>Last Name: </label>
            <input type="text" th:field="*{lastName}">
            <br>

<!--
            <label>Birthday: </label>
            <input type="text" th:field="*{employee.firstName}">
            <br>
-->

            <label>Email: </label>
            <input type="email" th:field="*{email}">
            <br>

            <label>Password: </label>
            <input type="password" th:field="*{password}">
            <br>

            <label>Address: </label>
            <input type="text" th:field="*{address}">
            <br>

            <label>Address 2: </label>
            <input type="text" th:field="*{address2}">
            <br>

            <label>City: </label>
            <input type="text" th:field="*{city}">
            <br>

            <label>State: </label>
            <select th:field="*{state}">
                <option th:each="s : ${stateList}" th:value="${s}" th:text="${s}"></option>
            </select>

            <label>Zip Code: </label>
            <input type="text" th:field="*{zipCode}">
            <br>

            <button type="submit">Register</button>

        </form>

    </div>

</body>
</html>